<!DOCTYPE html>
<html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link data-require="bootstrap-css@3.3.6" data-semver="3.3.6" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>

  <body ng-app="flickr">
    <div class="container-fluid">
      <div class="row topMargin20">
        <div class="col-md-8 col-md-offset-2 text-center">
          <h1 class="mainHeader">Flickr Searcher</h1>
     
    <div class="row" ng-controller="FlickrController">
      <form class="form-inline" ng-submit="getPhotos(searchTerm)">
        <div class="form-group">
          <div class="input-group inputWidth">
            <input type="text" class="form-control" ng-model="searchTerm" placeholder="Enter a tag to search for" required>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <div class="search">
        <p class="load" ng-show="searching" ng-hide="!searching">Searching Flickr for photos tagged with "{{ tag }}"</p>
        <p ng-show="results" ng-hide="!results">We found {{ totalResults | number }} results for "{{ tag }}"</p>
        <p ng-show="failure" ng-hide="!failure">Call to server has failed :(</p>
      </div>
            <div ng-show="showPhotos" ng-hide="!showPhotos" ng-repeat="photo in photos">
              <div class="col-md-4">

                <img class="pad15" ng-src="https://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}_q.jpg" alt="Description" class="img-responsive"/> 

              </div>
            </div>
      </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js">
   </script>
   <script type="text/javascript" src="https://code.angularjs.org/1.5.0/angular-animate.min.js"></script>
    <script src="js/flickr.controller.js"></script>
  </body>
</html>
